*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #e2591e;
}

#gral{
    width: 1730px;
    height: 2000px;
    margin: 2em;
    padding: 3em;
    background-color: rgb(228, 127, 147);
}

#presentacion{
    background-color: rgb(233, 112, 112);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    
}

#sobre_mi{
    background-color: rgb(233, 112, 112);
    padding: 3%;
    border-radius: 10px;
    margin: 10px;
}

td{
    text-align: center;
    background-color: rgb(230, 172, 172); 
    padding: 20px;
    
}

#exp{
    text-align: center;
    font-style: oblique;
    font-size: 30px;
}

#cono{
    text-align: center;
}

#experiencias{
    margin-left: 85px;
}

#cursos{
    
    display: block;
    text-align: left;
    width: 500px;
    float: left;
    padding: inherit;
    padding-bottom: 2px;
}

#conocimiento{
    display: block;
    width: 500px;
    float: right;
    padding: inherit;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
}
