*{
    margin: 0%;
    padding: 0%;
    font-family: 'Tourney', cursive;
}

body{
    background-color: #DEAEAD ;
}

#presentacion{
    background-color: #ADDDDE;
    border-radius: 40px;
    width: 98%;
    text-align: center;
    margin-left: 1%;
    
}

#sobre_mi{
    padding: 3%;
    border-radius: 10px;
    margin: 10px;
}

table{
    border: #2D4849 solid;
    background-color: #ADDDDE;
}

td{
    text-align: center;
    padding: 20px;
    border: #2D4849 solid;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    
}

#exp{
    text-align: center;
    font-size: 30px;
    margin: 1%
}

#cono{
    text-align: center;
}

#experiencias{
    margin-left: 85px;
}

#cursos{
    
    display: block;
    text-align: left;
    width: 500px;
    margin-right: 5%;
    float: right;
    padding: inherit;
    border: #2D4849 solid;
}

#conocimiento{
    display: block;
    width: 500px;
    margin-left: 5%;
    float: left;
    padding: inherit;
    border: #2D4849 solid;
}

h2{
    font-size: 45px;
    
    
}

li{
    padding-bottom: 15px;
}

#cont{
    border: black solid;
    width: 10%;
}

#caja_exp{
    margin-left: 100px;
}

nav{
    background-color: #2D4849;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
}